.form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 67%;
	padding-top: 40px;
}

.formColumn {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.formButton {
	width: 50%;
	margin-top:10px;
}

.errorColumn {
	display: flex;
	flex-direction: column;
	width: 20%;
}